/* ------Header-portion------- */
/* body
{
    background-color: #f6f6f6 !important;
}

.account-image>img
{
    height: 65px;
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 50px;
}
.line
{
    position: absolute;
    top: 25px;
    left: 100px;
    line-height: 5px;
}
.search-bar>input
{
    width: 560px;
    padding: 10px;
    border-radius: 76px;
    outline: none;
    margin-top: 12px;
    background-color: #e9e9e9;
    border: navajowhite;
    margin-left: 15rem;
}
.My-account>button
{
    width: 12rem;
    padding: 10px;
    border-radius: 66px;
    background-color: #383838;
    color: white;
    margin-top: 11px;
    border: none;
}
/* -----------------second-portion---------- 

.second-portion-line
{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-right: 40px;
}
.second-portion-line>#line-1
{
    font-size: larger;
    font-family: sans-serif;
}
.cards
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.card-img
{
 display: flex;
 justify-content: space-around;
}
.button
{
    display: flex;
    margin-top: 35px;
    margin-left: 25px;
    gap: 40px;
}
#first-btn
{
    background-color: #89b8ee;
    width: 135px;
    height: 45px;
    color: white;
    border-radius: 14px;
    font-weight: px;
    font-weight: 700;
    letter-spacing: 0.5px;
    border: none;
}
.button>button
{
    width: 135px;
    height: 45px;
    color: white;
    border-radius: 14px;
    font-weight: px;
    font-weight: 700;
    letter-spacing: 0.5px;
    background-color: white;
    color: #383838;
    border: none;
}
.second-portion>.row>.col
{
margin-left: 100px;
}
.card1
{
    display: flex;
    justify-content: space-around;
    background-color: white;
    text-align: center;
    align-items: center;
    padding: 5px;
    border-radius: 15px;
}
.card1>img
{
    height: 50px;
    border-radius: 50%;
}
.card1>button
{
    width: 100px;
    height: 35px;
    border-radius: 36px;
    background-color: #d8eaca;
    font-weight: 600;
    border: none;
    color: green;
}
.second-portion-subheading
{
    font-size: larger;
    font-family: sans-serif;
    margin: 50px 0px 50px 30px;
}

.card2
{
    display: flex;
    justify-content: space-around;
    background-color: white;
    text-align: center;
    align-items: center;
    padding: 5px;
    border-radius: 15px;
}
.card2>img
{
    height: 50px;
    border-radius: 50%;
}
.card2>button
{
    width: 100px;
    height: 35px;
    border-radius: 36px;
    background-color: #b9b9b9;
    font-weight: 600;
    border: none;
    color: gray;
}
.card3
{
    display: flex;
    justify-content: space-around;
    background-color: white;
    text-align: center;
    align-items: center;
    padding: 5px;
    border-radius: 15px;
}
.card3>img
{
    height: 50px;
    border-radius: 50%;
}
.card3>button
{
    width: 100px;
    height: 35px;
    border-radius: 36px;
    background-color: #ffd1d1;
    font-weight: 600;
    border: none;
    color: red;
} */
.conatiner1
{
   background-color: white;
   color: black;
}
.conatiner2
{
    background-color: beige;
    color: black;
}