.nav-link
{
    font-size: 20px;
    color: #000 !important;
    font-weight: 600;
}
.toggle-btn
{
    background: #00baf2;
    padding: 2px 2px 2px 20px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
}
.Frist-Portion-Content1
{
    font-size: 54px;
    font-weight: 700;
    line-height: 65px;
}
.Second-Portion-Content2
{
    padding-top: 10px;
    width: 475px;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
#First-Portion button
{
    padding: 0 24px;
    height: 44px;
    font-size: 15px;
    border-radius: 50px;
    background-color: black;
    color: white;
}
#Second-Portion>img
{
    width: 528px;
}