/* -----Header-portion--------- */
body
{
    background-color:#ccc!important;
}
.logo>img
{
    margin: 15px 115px;
}
.conatiner-header
{
    display: flex;
    position: fixed;
    background: #ffffff;
    z-index: 1000;
    width: 100%;
}
.links>li
{
    display: flex;
    gap: 15px;
    margin:20px -65px;
}
.links>li>a
{
    font-size: 17px;
    color: black;
    font-weight: 600;
    text-decoration: none;
    font-family: Inter,sans-serif;
    padding: 12px;
}
.toggle-btn>button
{
    background: #00baf2;
    padding: 2px 2px 2px 20px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
}
/* .one_line
{
position: absolute;
top: 120px;
} */

/* ---------------thrid-portion-------- */

.img>img
{
    width: 80px;
    box-shadow: 0 5px 20px rgba(0,41,112,.1);
    border-radius: 16px;
}
.Thrid_portion_1st
{
    position: absolute;
    top: 245px;
    left: 45px;
    line-height: 130px;
}
.Thrid_portion_2nd>img
{
    width: 528px;
    position: absolute;
    top: 250px;
    right: 0;
}
.Thrid_portion_1st>h1
{
    font-size: 54px;
    font-weight: 700;
    line-height: 65px;
   
}
.Thrid_portion_1st>p
{
    padding-top: 10px;
    width: 475px;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.Thrid_portion_1st>.btn>button
{
    padding: 0 24px;
    height: 44px;
    font-size: 15px;
    border-radius: 50px;
    background-color: black;
    color: white;
}
/*------- Forth-portion------------*/
.Forth-portion
{
    position: absolute;
    top: 50rem;
}

