body{
    overflow-x:hidden !important;
}
.navbar-brand>img
{
    width: 50%;
    border-radius: 50%;
    outline: 1px solid;
    box-shadow: 0px 0px 15px red;
}
.nav-item>a
{
    color: white;
    font-weight: 500;
}
.carousel-item>img{
    object-fit: cover;
}

.Thrid-portion-heading{
text-align: center;
    margin-top: 35px;
    font-size: 25px;
    text-transform: capitalize;
    font-variant: small-caps;
    text-decoration: underline;
    text-underline-offset: 10px;
    font-weight: 500;
}
.image1
{
    width: 450px;
    margin-top: -50px;
}
.Thrid-portion-img
{
    box-shadow: 5px 5px 20px darkgray;
    border-radius: 5px;
    width: 500px;
}
.forth-portion-1st-img>img
{
    margin-top: -25px;
}
.image-portion
{
    text-align: center;
}
.content1
{
    font-size: large;
    font-family: emoji;
    line-height: 31px;
}

.social-media
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.links
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}
.links>a{
    text-decoration: none;
    line-height: 50px;
    font-weight: 500;
    color: black;
}
.social-media-heading
{
    font-size: x-large;
    text-transform: capitalize;
    font-variant: small-caps;
}
#footer
{
    position: absolute;
    width: 100%;
}
#footer img
{
    border-radius: 140px !important;
    box-shadow: 0px 5px 20px;
}

/*------------------media-query--------------*/
@media (max-width:768px)
{
    .Thrid-portion-img {
        width: 100%;
    }
    .image1
    {
        width: 100%;
    }

}
@media(max-width: 425px) {

    .Thrid-portion-img {
        width: 100%;
    }

    .content>p
    {
          font-size: 15px;
    text-align: justify;
    word-spacing: -5px;

    }
    .image1
{
    width: 85%;
}
.image2
{
    width: 70%;
}
.Services
{
    margin: 1rem;
    gap: 15px;
}
.m-5 {
    margin: 1rem !important;
}
.second-work-card
{
    flex-direction: column-reverse !important;
}
}