




/* Second-portion */
.content1
{
    font-size: 4vw;
    font-weight: 700;
    font-family: 'Poppins';
    text-align: left;
    position: relative;
    top: 190px;
    left: 85px;
}
.content2
{
    font-weight: 350;
    font-size: 1.4vw;
    position: relative;
    top: 190px;
    left: 85px;
}
.Second-portion-btn
{
    border-radius: 20px;
    background-color: #50d387;
    color: black;
    padding: 5px;
    border: none;
    position: relative;
    width: 100px;
    top: 190px;
    left: 85px;
}
.second-portion
{
    background-image: url(Imges/pinelabs1.png);
    width: 100%;
    height: 41vw;
    display: flex;
    column-gap: 0%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 39px 23px;
    justify-items: center;
    align-items: center;
  
}
.left-portion-content
{
    position: relative;
    bottom: 155px;
}
.know_More_btn
{
    position: relative;
    top: 13rem;
    left: 5rem;
    border-radius: 20px;
    background-color: #50d387;
    border: none;
    padding: 9px 15px;
}
.content1
{
    font-size: 4vw;
    font-weight: 700;
    font-family: 'Poppins';
    text-align: left;
    color: #ffffff ;
}
.content1>span
{
    font-family: sans-serif;
    font-weight: 800;
    letter-spacing: -2px;
}
.content1_second_part
{
    color: #50D387;
}
.know_More_btn
{
    position: relative;
    top: 13rem;
    left: 5rem;
    border-radius: 40px;
    background-color: #50d387;
    border: none;
    padding: 12px 20px;
    font-family: inherit;
    font-weight: 500;
}

/* -------------Thrid-portion-----------------*/

.Thrid_portion_Heading,.Fourth_portion_Heading
{
    text-align: center;
    margin-top: 25px;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.Thrid_portion_Head_Details
{
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
    font-size: 20px;
}
.card-title
{
    font-size: 20px;
    font-weight: 700;
}
.card-body>.btn{
    border-radius: 40px;
    background-color: #50d387;
    border: none;
    padding: 8px 30px;
    font-family: inherit;
    font-weight: 500;
    color: white;
}
.card
{
    box-shadow: 0px 0px 30.594493865966797px rgba(0, 0, 0, 0.25);
}
.card:hover
{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
.col-12>img
{
    border-radius: 20px!important;
}
.Fiveth_portion_heading
{
    margin-top: 5rem;
    font-size: xxx-large;
    font-weight: bolder;
}
.Fiveth_portion_btn
{
    border-radius: 46px;
    background-color: #50d387;
    color: black;
    padding: 10px;
    border: none;
    width: 300px;
    font-size: x-large;
    font-weight: 400;
}
.Fiveth_portion
{
    background-color: #f0f0f0;
}
.footer
{
    background-color: #003323;
    color: white;
}
.Footer-content
{
    color: #50D387;
    font-size: 30px;
    text-align: start;
    font-weight: bold;
    line-height: 1.6;
    margin-top: 70px !important;
}
.col-md-4>ul>li
{
    line-height: 30px;
}

/* -------Footer-line------ */
.line {
    height: 2px;
    width: 100%;
    margin: 0px -30px;
    background-color: #333;
    animation: colorChange 2s infinite alternate; 
}

@keyframes colorChange {
    0% {
        background-color: green;
    }
    20%
    {
        background-color: #18a3e0;
    }
    60% {
        background-color: #0b51f0;
    }
    100%
    {
        background-color: #19e1a4;
    }
}


/* media-query */
@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 520px) {

}
@media screen and (max-width: 425px) {

    .second-portion   
    {
       background-image: none;
       background-color: black;
       height: auto;
    }
    .content1>span
    {
        letter-spacing:normal;
        margin-left: -25px;
    }
    .content2
    {
        left: 60px;
        top: 185px;
        font-weight: 400;
        font-size: 8px;
    }
    .left-portion-content {
    bottom: 178px;
      }
    
    .know_More_btn {
        top: 175px;
        left: 59px;
        padding: 0px 0px;
        font-weight: 400;
        width: 130px;
    }
    .Thrid_portion_Heading, .Fourth_portion_Heading {
        margin-top: 5px;
        letter-spacing: 0px;
            text-align: center;
            margin-top: 15px;
            font-weight: 700;
    }
    .Thrid_portion_Head_Details {
        margin-top: 10px;
        font-size: 12px;
    }
    .know_More_btn {
        top: 182px;
        left: 59px;
        padding: 0px 0px;
        font-weight: 400;
        width: 130px;
    }
    .container-fluid {
        padding-left: 12px;
    }
    .card-img-top
    {
        padding: 8px 35px 0px 55px !important;
    }
    .card-title {
        font-size: 15px;
    }
    .card-body>.card-text
    {
        font-size: 12px;
    }
    .card-body>.btn {
        padding: 5px 15px;
    }
    .cards>.row
    {
        gap: 40px;
    }
    .Fiveth_portion_heading {
        font-size: large;
    }
    .Fiveth_portion_btn {
        padding: 5px;
        width: 160px;
        font-size: medium;
        font-weight: 400;
    }
    #Second-card,#last-card
    {
        flex-direction: column-reverse;
    }
    .Footer-content {
        font-size: 20px;
        margin-top: 10px !important;
        text-align: center;
    }
    
}
@media screen and (max-width: 375px) {
    .bg-light
    {
    padding: 0px;
    }
}
@media screen and (max-width: 320px) {

}