/* ------------Header----------- */
body
{
    background-color: #272829;
    overflow-x: hidden;
}
.navbar-nav
{
    gap: 2em;
}
.nav-item
{
    font-size: larger;
    font-weight: 500;
}
.container-fluid {
    display: flex;
    justify-content: center;
}
.Name_Portion
{
    font-size: x-large;
    font-variant: small-caps;
    color: white;
}
.Name
{
    color: yellow;
    font-size: x-large;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: white;
    text-decoration-thickness: 1px;
    text-shadow: 2px 0px 11px;
}
.auto-type
{
    font-size: larger;
    text-transform: capitalize;
    font-variant: all-small-caps;
    color: yellow;
    font-weight: 500;
}
.About-Details {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    margin-top: 5em;
    font-size: large;
}

.details {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    font-size: large;
    color: white;
    font-family: monospace;
    text-align: center;
    line-height: 35px;
}
.Resume_btn
{
    background-color: transparent;
    color: yellow;
    font-weight: 500;
    text-shadow: 0px 0px 15px yellowgreen;
    border: 2px groove yellowgreen;
    border-radius: 2px;
}
/*----------- projects--------- */
.card-header
{
    font-size: large;
    font-variant: small-caps;
    text-shadow: 0px 0px 10px yellow;
}
.card-body
{
    text-align: justify;
    text-transform: capitalize;
    font-family: monospace;
    word-spacing: -2px;
    letter-spacing: 0px;
}
.col-4:hover
{
    /* transition: 2s; */
    transform: scale(1.01);
    /* border: 1px solid yellowgreen; */
    /* box-shadow: 2px 0px 2px rgb(232, 248, 199); */
    border-radius: 10px;
}


/* skiill */

.skill>.row
{
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}
.col
{
    display: flex;
    justify-content: center;
}
.progress
{
    width: 530px;
    height: 20px;
    font-weight: 500;
    font-size: medium;
}
.progress:hover
{
    transform: scale(1.01);
    transition: 1s;
    border: 1px groove yellowgreen;
    box-shadow: 0px 0px 5px yellow;
    cursor: pointer;
    border: 1px solid yellowgreen;
}
