.navbar-nav
{
    box-sizing:border-box;
    gap: 4em;
    align-items: center;
    padding: 0px 20px;
}
.Navbar_btn
{
    border-radius: 20px;
    background-color: #50d387;
    color: black;
    padding: 5px;
    border: none;
    width: 100px;
}
.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background-color: #f0f0f0;
}
